body, div, img {
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: roboto-bold;
  src: url(fonts/roboto-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: roboto-light;
  src: url(fonts/roboto-light.ttf);
  font-weight: lighter;
}


.bio-image {
  position: absolute;
  display: block;
  top: 10%;
  left: 10%;
  width: 25%;
}

#bio-img {
  /* position: relative; */
  z-index: 1;
}

#img2 {
  position: absolute;
  width: 30%;
  top: 25%;
  left: -1%;
}

#img3 {
  position: absolute;
  width: 30%;
  top: 71.5%;
  left: -2%;
}

#img4 {
  position: absolute;
  left: 8%;
  top: 15%;
  width: 30%;
}

#img5 {
  width: 30%;
  position: absolute;
  left: 70%;
  top: 4%;
}

#img6 {
  position: absolute;
  left: 70%;
  top: 12%;
  width: 30%;
}

#img7 {
  width: 30%;
  position: absolute;
  left: 3%;
  top: 65%;
}

#img8 {
  position: absolute;
  width: 30%;
  top: 60%;
  left: 70%;
}

#img9 {
  position: absolute;
  width: 30%;
  right: 5%;
  top: 50%;
}

#img10 {
  position: absolute;
  width: 30%;
  top: 70%;
  left: 63%;
}

#img11 {
  position: absolute;
  width: 5%;
  top: 46%;
  right: 15%;
}

#img12 {
  position: absolute;
  width: 8%;
  top: 45%;
  right: 10%;
}

#img13 {
  position: absolute;
  width: 14%;
  top: 50%;
  left: 7%;
}

#img14 {
  position: absolute;
  width: 9%;
  left: 15%;
  top: 55%;
}

.bio {
  position: absolute;
  float: left;
  left: 45%;
  top: 30%;
  width: 33%;
}


h1 {
  font-family: georgia;
  font-weight: lighter;
  font-size: 2vw;
}

p {
  font-family: "roboto-light.ttf", sans-serif;
  font-weight: lighter;
  font-size: 1vw;
  line-height: 1.6vw;
}

.nav-bar {
  position: absolute;
  float: left;
  display: inline-block;
  right: 10%;
  z-index: 10;
  top: 5%;
}



.nav-bar h2 {
  margin-right: 4vw;
}

.nav-bar a:link {
  text-decoration: none;
  color: black;
}

.nav-bar a:visited {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: "roboto-bold.ttf", sans-serif;
  font-weight: bold;
  font-size: 1vw;
  float: left;
}

.stack-image-right {
  mix-blend-mode: overlay;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.stack-image-left {
  mix-blend-mode: overlay;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}
.grid-container {
  top: 10%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.grid-container > div {
  position: relative;
  top: 150%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
